<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-dark text-white p-3">
        {{ getName() }}' To-Do List
      </h3>
      <div class="input-group mb-3">
        <input #txtItem type="text" class="form-control" (keyup.enter)="addItem(txtItem.value); txtItem.value='' ">
        <button class="btn btn-outline-dark" (click)="addItem(txtItem.value); txtItem.value='' ">
          Add
        </button>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="" id="displayAll" [(ngModel)]="displayAll">
        <label for="displayAll" class="form-check-label">Show All</label>
      </div>
      <div class="alert alert-warning" *ngIf="getItems().length == 0">
        <!-- Eleman sayısı 0 a eşitse listede eleman yok uyarısını göster -->
        Element not found to display in the list
      </div>
      <table class="table table-bordered" *ngIf="getItems().length > 0">
        <!-- ngIf ile başlangıçta görünecek liste elemenı sayısı eğer 0 dan büyük ise göster koşulunu uyguladık -->
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i=index;">
            <td>{{ i+1 }}</td>
            <td>{{ item.description }}</td>
            <td>
              <!-- <div *ngIf="item.action">Yes</div>
              <div *ngIf="!item.action">No</div> -->
              <!-- ngIf ile kontrol yerine switch ile de item.action ın true false değerlerine göre yes veya no yazdırma yolunu kullanabiliriz -->
              <div [ngSwitch]="item.action">
                <div *ngSwitchCase="true">Yes</div>
                <div *ngSwitchDefault>No</div>
              </div>
            </td>
            <td><input type="checkbox" [(ngModel)]="item.action"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
